# Web framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
psycopg2-binary

# Auth
python-jose[cryptography]
passlib[bcrypt]

# Config / utils
python-dotenv
python-multipart
pydantic

# ML / AI
scikit-learn
torch
transformers
easyocr
opencv-python
spacy
numpy
pillow
